<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhishAI EML Analyzer</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/phishai.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>PhishAI EML Analyzer</h1>
        <div id="drop-zone">
            <input type="file" id="file-input" multiple style="display: none;" />
            <p>Drag & Drop EML files here or click to select</p>
        </div>
        <div id="results"></div>

        <div id="preview-modal" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <div id="modal-body"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
